
doctype html

html

    head

        title MyData Page

    body

        h3 Hello, I am Jahnavi Chava.

        p  I once hiked to the top of Mount Everest and watched the sunrise. It was a breathtaking experience, and I hope to do it again someday.
      




