extends layout

block content
  h1= "My Personal Page"
  p Welcome to my personal page.

body
  h1 About Me
  p
    | Hi, I'm Jahnavi and here's an interesting fact about me:
    | I once hiked to the top of Mount Everest and watched the sunrise. It was a breathtaking experience, and I hope to do it again someday.
    | Feel free to get in touch with me if you'd like to hear more about my adventures.
