extends layout

block content
  h1= title
  p Welcome to #{Intresting fact}
 
  body
    h1 About Me
    p   Hi, I'm Jahnavi and here's an interesting fact about me:
    p    I once hiked to the top of Mount Everest and watched the sunrise. It was a breathtaking experience, and I hope to do it again someday.
    p   Feel free to get in touch with me if you'd like to hear more about my adventures.